# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated version info
src/ow_version.h

*.swp
helm/charts/*
!helm/charts/.gitkeep
test_scripts/curl/result.json
test_scripts/curl/token_sub.json
test_scripts/curl/token_sec.json
